.container {
    margin: auto;
    width: 50%;
    margin-top: 2%;
}

.listBarang{
    margin-top: 10%;
}

table{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

th{
    padding: 2%;
    color: #785E4D;
    background-color: #F2EEE3;
}

th:first-child{
    width: 10%;
}

th:nth-child(2){
    width: 20%;
}

th:last-child{
    width: 20%;
}

th, td{
    border: 1px solid black;
}
                                                                  
th:nth-child(4), th:nth-child(5){
    width: 24%;
}

td{
    border-top: none;
    border-bottom: none;
    padding: 3%;
}



